@keyframes ringing {
  0% {
    transform: rotateZ(0deg);
  }
  13% {
    transform: rotateZ(13deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  30% {
    transform: rotateZ(-13deg);
  }
  40% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(13deg);
  }
  60% {
    transform: rotateZ(0deg);
  }
  70% {
    transform: rotateZ(-13deg);
  }
  80% {
    transform: rotateZ(0deg);
  }
  90% {
    transform: rotateZ(13deg);
  }
  130% {
    transform: rotateZ(0deg);
  }
}
